body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.container{
    width: 1920px;
    height: auto;
    background-color: #fff;
}
.menu{
    width: 100%;
    height: 100px;
}
.logo{
    width: auto;
    float: left;
    height: 80px;
    margin-left: 135px;
    padding: 10px 0px;
}
.logo img{
    width: auto;
    height: 80px;
}
.menu-text{
    float: right;
    margin-right: 135px;
    padding: 34px 0px;
}
.menu-text a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #3C3C3C;
    margin-left: 40px;
}
.sec-1{
    width: 100%;
    height: 700px;
    background-color: #fff;
    padding-top: 80px;
}
.sec-1 .left-side{
    width: 50%;
    height: 100%;
    float: left;
}
.sec-1 .left-side h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    color: #363958;
    margin-bottom: 0px;
    margin-left: 135px;
    font-weight: 500;
}
.sec-1 .left-side h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    color: #FF8367;
    margin-top: -20px;
    margin-left: 135px;
    font-weight: 500;
}
.sec-1 .left-side h2 span{
    font-weight: 200;
}
.sec-1 .left-side p{
    width: 60%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #3C3C3C;
    margin: -60px 0px 55px 135px;
}
.sec-1 .left-side .button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    padding: 18px 57px;
    background: linear-gradient(45deg, #FF8063 , #F46060);
    border-radius: 10px;
    margin-left: 135px;
}
.sec-1 .right-side{
    width: 50%;
    height: 100%;
    float: left;
}
.sec-1 .right-side img{
    width: 600px;
    height: auto;
    margin-left: 50px;
}

.sec-2{
    width: 100%;
    height: 750px;
    background-color: #fff;
    padding-top: 80px;
}
.sec-2 .left-side{
    width: 50%;
    height: 100%;
    float: left;
}
.sec-2 .right-side{
    width: 50%;
    height: 100%;
    float: left;
}
.sec-2 .left-side img{
    width: 600px;
    height: auto;
    margin-left: 135px;
}
.sec-2 .right-side h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 75px;
    color: #363958;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-top: 80px;
}
.sec-2 .right-side p{
    width: 75%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-left: 80px;
    margin-bottom: 80px;
    color: #3C3C3C;
}
.sec-2 .right-side .button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    padding: 18px 57px;
    background: linear-gradient(45deg, #FF8063 , #F46060);
    border-radius: 10px;
    margin-left: 80px;
}
.sec-2 .right-side .button img{
    width: auto;
    height: 16px;
    margin-right: 8px;
}
.sec-3{
    width: 100%;
    height: 850px;
    background: #f7f9ff;
    padding-top: 100px;
}
.sec-3 h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 75px;
    color: #363958;
    font-weight: 500;
    text-align: center;
    margin-bottom: 80px
}
.sec-3 h1 .highlight-text{
    color: #FF8367;
}
.work-portfolio{
    width: 100%;
    height: auto;
    padding: 0px 372px;
}
.work-project{
    float: left;
    width: 345px;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    border: 15px solid #fff;
    box-shadow: 0px 6.5px 20px 0px #00000010;
}
.work-portfolio .middle{
    margin: 0px 25px;
}
.work-project .image{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.work-project .image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.text h4{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #363958;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 5px;
    margin-bottom: 0px;
}
.text p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #6C6C6C;
    font-weight: 300;
    width: 85%;
    margin-left: 5px;
    margin-top: 25px;
}
.sec-4{
    width: 100%;
    height: auto;
    background: #fff;
}
.sec-4 .work-inq{
    width: 100%;
    height: auto;
    padding: 0px 507px;
}
.sec-4 .work-inq .work-image{
    margin-top: 120px;
    width: 100%;
    height: 225px;
    background-image: url("images/work-inq.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30px;
}
.sec-4 .work-inq .work-image h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color: #fff;
    font-weight: 500;
    float: left;
    margin: 78px 0px 0px 70px;
}
.sec-4 .work-inq .work-image .button{
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    padding: 18px 57px;
    background: linear-gradient(45deg, #FF8063 , #F46060);
    border-radius: 10px;
    margin: 82px 0px 0px 310px;
}
.form{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 90px 507px 0px 507px;
}
.form .name-mail{
    width: 100%;
}
.name-mail .name{
    width: 400px;
    height: auto;
    margin-left: 15px;
    padding: 15px;
    background: #f7f9ff;
    border: none;
    font-size: 18px;
    color: #363958;
    font-weight: 400;
    border-radius: 10px;
}
.name-mail .email{
    width: 400px;
    height: auto;
    margin-left: 15px;
    padding: 15px;
    background: #f7f9ff;
    border: none;
    font-size: 18px;
    color: #363958;
    font-weight: 400;
    border-radius: 10px;
}
.text-area{
    margin-top: 25px;
}
.area-text{
    width: 850px;
    margin-left: 15px;
    padding: 15px;
    background: #f7f9ff;
    border: none;
    font-size: 18px;
    color: #363958;
    font-weight: 400;
    border-radius: 10px;
}
.submit-div{
    width: 905px;
    height: auto;
    padding: 60px 0px 0px 0px;
    text-align: center;
}
.submit{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    padding: 18px 57px;
    background: linear-gradient(45deg, #FF8063 , #F46060);
    border-radius: 10px;
    text-align: center;
}
.sec-4 .connected{
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.sec-4 .connected h5{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: #363958;
    font-weight: 500;
    text-align: center;
    color: #696871;;
    margin: 0px;
}
.sec-4 .connected h1{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    color: #363958;
    font-weight: 700;
    text-align: center;
    margin: 10px 0px 0px 0px;
}
.social-icons{
    width: 100%;
    height: auto;
    padding: 25px 0px 80px 0px;;
}
.social-icons h1{
    text-align: center;
    margin: 0px;
}
.social-icons h1 a{
    width: 40px;
    height: 40px;
    margin: 0px 20px;
}
.social-icons h1 a img{
    width: 40px;
    height: 40px;
}
.copy-right{
    padding: 20px 0px;
    width: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #6C6C6C;
    text-align: center;
    margin: 0px;
    background: #F8F9FC;
}